<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SistemaMatricula</display-name>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:context/application-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener> 
  <servlet>
    <description></description>
    <servlet-name>AulaRegistrarController</servlet-name>
    <servlet-class>dev.com.matricula.controller.AulaRegistrarController
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AulaRegistrarController</servlet-name>
    <url-pattern>/aulaRegistrarController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AulaListarController</servlet-name>
    <servlet-class>dev.com.matricula.controller.AulaListarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AulaListarController</servlet-name>
    <url-pattern>/aulaListarController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AulaActualizarController</servlet-name>
    <servlet-class>dev.com.matricula.controller.AulaActualizarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AulaActualizarController</servlet-name>
    <url-pattern>/aulaActualizarController.do</url-pattern>
  </servlet-mapping>
</web-app>