<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SistemaMatricula</display-name>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:context/application-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <servlet-name>AulaRegistrarController</servlet-name>
    <servlet-class>dev.com.matricula.controller.AulaRegistrarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AulaRegistrarController</servlet-name>
    <url-pattern>/aulaRegistrarController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AulaListarController</servlet-name>
    <servlet-class>dev.com.matricula.controller.AulaListarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AulaListarController</servlet-name>
    <url-pattern>/aulaListarController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AulaActualizarController</servlet-name>
    <servlet-class>dev.com.matricula.controller.AulaActualizarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AulaActualizarController</servlet-name>
    <url-pattern>/aulaActualizarController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>UsuarioListarController</servlet-name>
    <servlet-class>dev.com.matricula.controller.UsuarioListarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioListarController</servlet-name>
    <url-pattern>/usuarioListarController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeccionListarController</display-name>
    <servlet-name>SeccionListarController</servlet-name>
    <servlet-class>dev.com.matricula.controller.SeccionListarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeccionListarController</servlet-name>
    <url-pattern>/seccionListarController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlumnoListarController</display-name>
    <servlet-name>AlumnoListarController</servlet-name>
    <servlet-class>dev.com.matricula.controller.AlumnoListarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnoListarController</servlet-name>
    <url-pattern>/alumnoListar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApoderadoListarController</display-name>
    <servlet-name>ApoderadoListarController</servlet-name>
    <servlet-class>dev.com.matricula.controller.ApoderadoListarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApoderadoListarController</servlet-name>
    <url-pattern>/apoderadoListar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeccionListaControll</display-name>
    <servlet-name>SeccionListaControll</servlet-name>
    <servlet-class>dev.com.matricula.controller.SeccionListaControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeccionListaControll</servlet-name>
    <url-pattern>/seccionLista.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocenteListarController</display-name>
    <servlet-name>DocenteListarController</servlet-name>
    <servlet-class>dev.com.matricula.controller.DocenteListarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocenteListarController</servlet-name>
    <url-pattern>/docenteListar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CursoListarController</display-name>
    <servlet-name>CursoListarController</servlet-name>
    <servlet-class>dev.com.matricula.controller.CursoListarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CursoListarController</servlet-name>
    <url-pattern>/cursoListar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogueoController</display-name>
    <servlet-name>LogueoController</servlet-name>
    <servlet-class>dev.com.matricula.controller.LogueoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogueoController</servlet-name>
    <url-pattern>/logueo.do</url-pattern>
  </servlet-mapping>
</web-app>